<ul id="page-side-nav">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="#">Track Progress</a></li>
  <li><a href="#">Settings</a></li>
  <li class="heading">Buddies</li>
  <li><a href="#">Artur Gurau</a></li>
  <li><a href="#">Eugeniu Vozoca</a></li>
  <li><a href="#">Jerry Seinfeld</a></li>
  <li><a href="#">Add buddy</a></li>
</ul>