<footer id="page-footer">

  <div class="row">
    <div class="small-12 medium-12 columns">

      <div class="copyright left">
        Designed and maintained by
        <a href="http://www.twitter.com/devjah">devjah</a>
        and
        <a href="http://www.twitter.com/preist">preist</a>.
      </div>

      <ul class="inline-list right">
        <li><a href="#">On Privacy</a></li>
        <li><a href="#">Our Terms of Use</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

    </div>
  </div>

</footer>