<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar top-login" data-topbar>
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Summit App', root_url %></h1></li>
  </ul>
  <div class="top-bar-section right">
    <ul class="right">
      <%= render 'layouts/top_navigation_links' %>
    </ul>
  </div>
</nav>
